extends layout

block content
	script(type="text/javascript").
		var fetchy = async function(cmd,ip,port){
			await fetch("http://"+ip+":"+port+"/run_script",{
				method: "POST",
				body: JSON.stringify({
				"Script": cmd
			  }),
			  headers: {
				"Content-type": "application/json; charset=UTF-8"
			  }
			})
			.then(response => response.json())
			.then((data) => {
				console.log(data);
				const doc = document.getElementById('output');
				doc.textContent=data;
			})
		}
	div
		h1 Available Scripts
		ul
			each dir in dirs
				button(onclick= 'fetchy(\'#{dir}\',\'#{ip}\',\'#{port}\')')= dir
				br

block output
	div
		h1 output
		div
			p(id="output") No Output

